.EventLog {
  display: flex;
  padding: 26px 20px;
}

.EventLog:hover .EventLog__primaryText {
  white-space: unset;
}

.EventLog__primaryText {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.EventLog__secondaryText {
  font-size: 12px;
}

.EventLog__avatar {
  margin-right: 16px;
}

.EventLog__copy {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  overflow: hidden;
}
