.EventLogsList {
  width: 700px;
  margin: 0;
  padding: 0;
}

.EventLogsList__loading {
  margin-top: 48px;
  text-align: center;
  width: 700px;
}

.EventLogsList__error {
  margin-top: 48px;
  text-align: center;
  width: 700px;
}

.EventLogsList__item {
  list-style-type: none;
  background-color: white;
  border-radius: 6px;
  margin: 2px 0;
  transition: background-color 0.1s;
  box-shadow: -2px 2px 0 0 rgba(62, 118, 244, 0.14);
}

.EventLogsList__item:hover {
  background-color: aliceblue;
}
